*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Odibee Sans', cursive;

}
body {
	background-image: url(./images./web-developer-newsletter-coder-stefan-iordache.jpg);
	background-size: cover;
}



}
.nav ul{
	list-style-type: none;
	background: #e71d36;
	display: inline-block;
	padding: 0;
	margin: 0;
	display
}
.nav li {
	display: inline-block;
	text-align: center;
}
.nav a{	
	text-decoration: none;
	color: #fff;
	width: 100px;
	display: block;

	text-transform: uppercase;
	font-weight: bold;
}
.nav a:hover {
	background: #011627;
}

.background {
	background-image: url(./images./1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	font-weight: bold;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
}
div h2 {
	color: #8ac926;
	font-family: 'Odibee Sans', cursive;
	font-size: 30px;
	text-shadow: ;
.nav a 
}
div p {
	color: #00b4d8;
	font-size: 10px;
	float: left;
}
h1{
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Odibee Sans', cursive;
  margin-bottom: 0;
}

#css {
  color: yellow;
  font-family: 'Odibee Sans', cursive;
}
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 10%;
	float: left;

}
@keyframes slider {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}
	20% {
		left: -100%;
	}
	30% {
		left: -100%;
	}
	40% {
		left: -200%;
	}
	50% {
		left: -200%;
	}
	60% {
		left: -300%;
	}
	70% {
		left: -300%;
	}
	80% {
		left: -400%;
	}
	90% {
		left: -400%;
	}
	100% {
		left: -500%;
	}
	110% {
		left: -500%;
	}
	
}
div h1 {
	color: #ff0054;
}
div label {
	font-size: 20px;
	color: #faf0ca;
	font-family: 'Odibee Sans', cursive;
}
footer {
	color: black;
}